# App
NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:3001

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=pharmacy

# JWT
JWT_SECRET=change-me-in-production-please-use-a-long-random-string
JWT_EXPIRES_IN=7d

# Seeds
SKIP_SEED=false
SUPER_ADMIN_EMAIL=admin@example.com
SUPER_ADMIN_USERNAME=admin
SUPER_ADMIN_PASSWORD=Admin@123
